* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: grid;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  background-color: #0e0e10;
  color: #fff;
  color-scheme: dark;
  gap: 16px;
  grid-template-columns: 1fr 350px;
  grid-template-rows: 1fr;
}

#view {
  width: auto;
  height: 100%;
}

#axes {
  position: absolute;
  top: 15px;
  left: 15px;
}

.canvas-container,
.control-panel {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid hsla(0deg, 0%, 100%, 5%);
  background-color: #131416;
  border-radius: 8px;
}

.canvas-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.control-panel {
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.control-panel section {
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid hsla(0deg, 0%, 100%, 5%);
}

.control-panel section:last-child {
  border-bottom: none;
}

.control-panel h2 {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.control-panel fieldset {
  border: none;
  margin-bottom: 1rem;
}

.control-panel legend {
  width: 100%;
  height: 1.5rem;
  margin-bottom: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group_inline {
  width: 100%;
  flex-direction: row;
}

.input-group {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  column-gap: 0.5rem;
  row-gap: 0.375rem;
}

.input-group_inline {
  width: 0;
  flex-direction: row;
  align-items: center;
}

.input-group label {
  font-weight: 500;
}

.input-group input {
  min-width: 0;
}

.button,
.input {
  padding: 8px 18px;
  border: none;
  background-color: hsla(0deg, 0%, 100%, 5%);
  border-radius: 5px;
  box-shadow: inset -1px 0px 1px hsla(0deg, 0%, 100%, 4%),
    inset 0px 0px 6px hsla(0deg, 0%, 100%, 3%);
  color: #fff;
  font-size: 0.875rem;
  outline: none;
}

.input {
  padding: 6px 0px 6px 12px;
}

.button:hover {
  background-color: hsla(0deg, 0%, 100%, 15%);
}

.button:focus-visible {
  outline: 1px solid hsla(0deg, 0%, 100%, 30%);
}

.button:active {
  transform: scale(0.95);
}

/* input {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 27px;
  outline: none;
} */

/*
.control_panel .row-single_input{
    display: grid;
    width: 100%;
    margin-bottom: 10px;
    grid-column-gap: 5px;
    grid-template-columns: 130px 1fr;
    grid-template-rows: 1fr;
}

.control_panel .row-triple_input{
    display: grid;
    width: 100%;
    margin-bottom: 10px;
    grid-column-gap: 5px;
    grid-template-columns: 70px 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.control_panel .row_input{
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.control_panel h1{
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
}

.control_panel h2{
    width: 100%;
    height: 25px;
    font-size: 12px;
    line-height: 24px;
}

.control_panel p{
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    padding: 0px 7px;
    font-size: 12px;
    line-height: 25px;
}

.control_panel input{
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 27px;
    outline: none;
}

.control_panel .btn{
    position: absolute;
    right: 0;
    left: 0;
    width: 100px;
    height: 22px;
    padding: 10px;
    margin: 10px auto;
    background-color: #8559f4;
    border-radius: 5px;
    cursor: pointer;
    line-height: 23px;
    text-align: center;
    user-select: none;
}

.control_panel .btn:hover{
    background-color: #6844c2;
} */
